<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @manifest.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @manifest.destination %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @manifest.notes %>
</p>

<p>
  <strong>Total weight:</strong>
  <%= @manifest.total_weight %>
</p>

<table border="1" cellpadding="0" cellspacing="1">
	<caption>Manifest Details</caption>
	<tbody>
	<% @details.each do |d| %>
		<tr><td><%= d.tracking %></td></tr>
	<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_manifest_path(@manifest) %> |
<%= link_to 'Back', manifests_path %>
