<h1>Listing trackcodes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackcodes.each do |trackcode| %>
      <tr>
        <td><%= trackcode.description %></td>
        <td><%= link_to 'Show', trackcode %></td>
        <td><%= link_to 'Edit', edit_trackcode_path(trackcode) %></td>
        <td><%= link_to 'Destroy', trackcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trackcode', new_trackcode_path %>
