<h1>Listing packagedetails</h1>

<table>
  <thead>
    <tr>
      <th>Tracking</th>
      <th>Length</th>
      <th>Width</th>
      <th>Height</th>
      <th>Piece weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packagedetails.each do |packagedetail| %>
      <tr>
        <td><%= packagedetail.tracking %></td>
        <td><%= packagedetail.length %></td>
        <td><%= packagedetail.width %></td>
        <td><%= packagedetail.height %></td>
        <td><%= packagedetail.piece_weight %></td>
        <td><%= link_to 'Show', packagedetail %></td>
        <td><%= link_to 'Edit', edit_packagedetail_path(packagedetail) %></td>
        <td><%= link_to 'Destroy', packagedetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Packagedetail', new_packagedetail_path %>
