<%= form_for(@tracking) do |f| %>
  <% if @tracking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracking.errors.count, "error") %> prohibited this tracking from being saved:</h2>

      <ul>
      <% @tracking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.text_field :package_id %>
  </div>
  <div class="field">
    <%= f.label :times %><br>
    <%= f.datetime_select :times %>
  </div>
  <div class="field">
    <%= f.label :action_id %><br>
    <%= f.number_field :action_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
